<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  </style>
</head>

<body>
  <h1>See All The Pokemon!</h1>
  <ul>
    <% for(let i = 0; i< pokemons.length ; i ++) { %>
      <img src="<%=pokemons[i].img%>" alt="" srcset="" class='indexImg'>
      <li>
        <a href="/pokemon/<%=i%>">
          <%=pokemons[i].name%>
        </a>
      </li>
      <% } %>
  </ul>


</body>

</html>
