<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Gotta Catch 'Em All</h1>
   <h2><%= pokemon.name %></h2>
   <img src="<%=pokemon.img%>" alt="" srcset=""> <br>
   <a href="/pokemon">Back</a>
  </body>
</html>
